/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css';*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-Header{
  font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;
}

.th_WentWell {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.th_Improve {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #210d47;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.th_Kudos {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1bafaf;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.th_Action {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d31f1f;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.td_WentWell {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bfc7c4;
  color: rgb(32, 3, 3);
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td_AddNew {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  align-content: center;
  align-items: center;
}
